{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href"{% static 'blog/main.css' %}">
    {% if title %}
    <title> Django Blog - {{ title }}</title> 
    {% else %}
    <title>Django Blog</title>
    {% endif %}  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bgsteel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span> </button>
            </div>
        </nav>
    </header>

    <main role'"main" class="comtainer">
        <div class="row">
            <div class="col-m-8">
                {% block content %}{% endblock content %}
        </div>
        <div class="col-md-4">
            <div class="content-section"> 
                <h3>Our Sidebar</h3>
                <p class="text-muted"> Place any info we want in here
                <ul>
                    <li class="list-group-item list-group-item-light">Latest Post</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">alendars</li>
                    <li class="list-group-item list-group-item-light">Etc</li>
                </ul>
            </p>
            </div>
        </div>
        </div>
    </main>

   <!-- Option 1: Bootstrap Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>